<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body style="text-align: center;">

        <h1>요건 wordcount앱이여</h1>

        <a href="{% url 'about' %}">about으로 이동</h1>
        <a href="{% url 'result' %}">result로 이동</a>
        <br><br>

        <form action="{% url 'result' %}" style="text-align: center; margin-left: 30px;">

        <textarea name = "fulltext" cols="40" rows="10"></textarea>
         <br>   <input type="submit" value="계산하기">
        </form>

    </div>
</body>
</html>